<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Flet_Office.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <applicationSettings>
        <Flet_Office.Properties.Settings>
            <setting name="BeroBreve_Folder" serializeAs="String">
                <value>C:\\FletOffice\\BeroBreve</value>
            </setting>
            <setting name="Common_GoDokBib" serializeAs="String">
                <value>Dokumenter</value>
            </setting>
            <setting name="Common_SkabelonSti" serializeAs="String">
                <value>\\\\plaza.local\\dfs\\EgboligBDK\\Egbolig\\BDK\\Dokumenter i Eg Bolig\\Medlem</value>
            </setting>
            <setting name="BeroBreve_SkabelonNavn" serializeAs="String">
                <value>\\MedlemBerobrev nyt_autoprogram.docx</value>
            </setting>
            <setting name="BeroBreve_FolderOld" serializeAs="String">
                <value>C:\\FletOffice\\BeroBreve_old</value>
            </setting>
            <setting name="BeroBreve_ErrorLog" serializeAs="String">
                <value>C:\\FletOffice\\ProgramLog_Bero_</value>
            </setting>
            <setting name="Common_MonitorServerNavn" serializeAs="String">
                <value>PRO-PLZ-BATCH04</value>
            </setting>
            <setting name="BeroBreve_MonitorJobNavn" serializeAs="String">
                <value>Udskriv BeroBreve</value>
            </setting>
            <setting name="Common_MonitorGruppeNavnGO" serializeAs="String">
                <value>Gobolig</value>
            </setting>
            <setting name="Common_MonitorAlarmVærdiOK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Common_MonitorAlarmVærdiFejl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Common_MonitorTekstOK" serializeAs="String">
                <value>Alle breve sendt ok på e-mail i nat</value>
            </setting>
            <setting name="Common_MonitorTekstFejl" serializeAs="String">
                <value>Der er fundet medlemmer uden valid e-mail adresse. Antal ikke sendte breve: </value>
            </setting>
            <setting name="Common_MonitorTekst" serializeAs="String">
                <value>Antal medlemmer, der har fået tilsendt e-mail : </value>
            </setting>
            <setting name="Common_EmailBodyFejl" serializeAs="String">
                <value>Nogle medlemmer kunne ikke modtage e-mail via batch kørslen  </value>
            </setting>
            <setting name="BeroBreve_SlutTekstIngen" serializeAs="String">
                <value>Der var ingen medlemmer, der skulle have Bero-breve i dag.</value>
            </setting>
            <setting name="Common_SlutTekst" serializeAs="String">
                <value>Nu har vi behandlet medlem nr.: </value>
            </setting>
            <setting name="Common_EmailEjLev" serializeAs="String">
                <value>E-mail kunne ikke leveres til medlemsnr. </value>
            </setting>
            <setting name="Common_EmailModtFejl" serializeAs="String">
                <value>Officebreve@bdk.dk</value>
            </setting>
            <setting name="Common_GoboligJourFejl" serializeAs="String">
                <value>Dokument kunne ikke journaliseres for medlemsNr.: </value>
            </setting>
            <setting name="Common_EmailModtIngen1" serializeAs="String">
                <value>Vi savner din e-mail adresse. </value>
            </setting>
            <setting name="Common_EmailModtIngen2" serializeAs="String">
                <value>For at forbedre vores service vil vi gerne have lov at sende dig boligtilbud via e-mail. Husk derfor at oplyse din e-mail adresse.</value>
            </setting>
            <setting name="Common_EmailModtInv" serializeAs="String">
                <value>Vi har uden held forsøgt at sende dette brev til dig via e-mail adressen: </value>
            </setting>
            <setting name="Common_EmailIngen" serializeAs="String">
                <value>Ingen e-mail adresse angivet for medlemmet</value>
            </setting>
            <setting name="Opskrivningsbevis_Folder" serializeAs="String">
                <value>C:\\FletOffice\\Opskrivningsbevis</value>
            </setting>
            <setting name="Opskrivningsbevis_SkabelonNavn" serializeAs="String">
                <value>\\BevisSelskab nyt_autoprogram.doc</value>
            </setting>
            <setting name="Opskrivningsbevis_FolderOld" serializeAs="String">
                <value>C:\\FletOffice\\Opskrivningsbevis_old</value>
            </setting>
            <setting name="Opskrivningsbevis_ErrorLog" serializeAs="String">
                <value>C:\\FletOffice\\ProgramLog_Opskriv_</value>
            </setting>
            <setting name="Opskrivningsbevis_MonitorJobNavn" serializeAs="String">
                <value>Udskriv opskrivningsbeviser</value>
            </setting>
            <setting name="Common_EmailAfsFejl" serializeAs="String">
                <value>Admin@bdk.dk</value>
            </setting>
            <setting name="Common_EmailEGModtLog" serializeAs="String">
                <value>EGinc@bdk.dk</value>
            </setting>
            <setting name="BeroBreve_EmailSubjFejl" serializeAs="String">
                <value>BeroBreve fejl!</value>
            </setting>
            <setting name="Opskrivningsbevis_EmailSubjFejl" serializeAs="String">
                <value>Opskrivningsbevis fejl!</value>
            </setting>
            <setting name="Opskrivningsbeviser_SlutTekstIngen" serializeAs="String">
                <value>Der var ingen medlemmer, der skulle have opskrivningsbeviser i dag.</value>
            </setting>
            <setting name="Common_MonitorGruppeNavnEG" serializeAs="String">
                <value>EGbolig</value>
            </setting>
            <setting name="Common_ConnectionString_SQL" serializeAs="String">
                <value>Data Source=PRO-PLZ-SQL02;Initial Catalog=Bolig;Persist Security Info=True;User ID=SA-BDK-SPDB;Password=8RUG2plaza</value>
            </setting>
            <setting name="Common_ConnectionString_Monitor" serializeAs="String">
                <value>Data Source=PRO-PLZ-SQL01;Initial Catalog=PlazaIT;Persist Security Info=True;User ID=SA-GOSERVICE;Password=8RUG2plaza</value>
            </setting>
            <setting name="Common_EmailSubjOk" serializeAs="String">
                <value>Alle breve leveret OK!</value>
            </setting>
            <setting name="Common_EmailBodyOk" serializeAs="String">
                <value>Alle breve er leveret OK på e-mail.</value>
            </setting>
            <setting name="BeroBreve_Select" serializeAs="String">
                <value>SELECT DISTINCT TOP (100) PERCENT Medlem FROM dbo.MedlemAfSelskabStatusLog AS l WHERE (NyStatus = '1') AND (MedlemSelskab &lt;&gt; 99) AND (CONVERT(date, Createdate) = DATEADD(day, - 1, CONVERT(date, GETDATE()))) AND ((SELECT COUNT(*) AS Antal FROM dbo.MedlemAfSelskabStatusLog AS MedlemAfSelskabStatusLog_1 WHERE (CONVERT(date, Createdate) = DATEADD(day, - 1, CONVERT(date, GETDATE()))) AND (Medlem = l.Medlem) AND (NyStatus = 'l')) = 0) ORDER BY Medlem</value>
            </setting>
            <setting name="Opskrivningsbevis_Select" serializeAs="String">
                <value>SELECT DISTINCT dbo.MedlemAfSelskab.Medlem, MedlemAfSelskab_1.Sel, MedlemAfSelskab_1.Medlem AS Expr1, MedlemAfSelskab_1.MedlemSelskab, MedlemAfSelskab_1.Status, MedlemAfSelskab_1.DatoOpnot, MedlemAfSelskab_1.DatoBetOpnot, MedlemAfSelskab_1.Lmtype FROM dbo.MedlemAfSelskab RIGHT OUTER JOIN dbo.MedlemAfSelskab AS MedlemAfSelskab_1 ON dbo.MedlemAfSelskab.Medlem = MedlemAfSelskab_1.Medlem 
where datediff(day,MedlemAfSelskab_1.DatoOpnot,getdate()) = 3 and MedlemAfSelskab_1.Status &lt;&gt; 3 and MedlemAfSelskab_1.DatoBetOpnot is not null and datediff(day,MedlemAfSelskab_1.DatoBetOpnot,getdate()) = 3
ORDER BY Medlem, MedlemSelskab, DatoOpnot desc</value>
            </setting>
            <setting name="Common_Email_Testmodt" serializeAs="String">
                <value>kism@bdk.dk</value>
            </setting>
            <setting name="Common_PROD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Common_Adobe_Sti" serializeAs="String">
                <value>C:\Program Files (x86)\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe</value>
            </setting>
        </Flet_Office.Properties.Settings>
    </applicationSettings>
</configuration>
